.TimeList {
	position: absolute;
	height: 20em;
	max-height: 40%;
	width: 100%;
	white-space: nowrap;
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: 2px solid #eeeeee;

	& > li > span {
		display: none;
	}

	& > li:nth-child(5n+1) > span {
		display: inline;
	}
}

